<!DOCTYPE html>
<html lang="en">

<head>
    <title>Buyer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }
        /* Remove the jumbotron's default bottom margin */
        
        .jumbotron {
            margin-bottom: 0;
        }
        /* Add a gray background color and some padding to the footer */
        
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>

<body>
    </div>
    <div class="container">

        <% items.forEach(data =>{%>
            <!-- <div class="row"> -->
            <div class="col-sm-4">
                <div class="panel panel-primary" style="border-color: rgb(43, 111, 138)">
                    <div class="panel-heading" style="background-color: rgb(6, 109, 128)">
                        <%= data.name %>
                    </div>
                    <div class="panel-body"><img src="<%= data.picture %>" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                    <div class="panel-footer">
                        <%= data.price %>
                    </div> <a href="/users/items/<%= data.id %>">Show more</a>
                </div>
            </div>
            <%})%>
    </div><br><br>
    <footer class="container-fluid text-center">
    </footer>
</body>

</html>